*{
    margin:0px;
    padding: 0px;
    /* width: 95%; */
    text-align: center;
}
body{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /* margin: 0px 40px; */
    /* background: url(image/bg.png); */
}
/* .main{
    width: 95%;
    margin-left:auto ;
    margin-right: auto;
} */
.header{
    width: 100%;
    height: 35px;
    background-color: black;
}
.headertxt{
    font-size: 15px;
    padding-top: 5px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar{
    padding: 15px 0px;
    /* margin: 0px 2.5%; */
    box-sizing: border-box;
    /* box-shadow: 0px 5px 6px gray; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(31, 31, 31, 0.833); */
}
.navshadow{
    box-shadow: 0px 3px 6px rgb(202, 202, 202);
    /* min-width: 100%; */
    /* box-shadow: 0 2px 6px gray; */

}

.logoimg{
    width: 90px;
    padding-right:105px;
}

.nav{
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    display: flex;
    justify-content: space-around;
}
.nav2{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}
.undernav{
    display: flex;
    margin-left: 40px;
    /* margin-right: auto; */

}
.navitem{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin: auto 15px;
}
.searchbox{
    padding-left: 200px;
    padding-right: 10px;
}
.searchtxt{ 
    background-color: rgba(223, 221, 221, 0.662);
    width:295px;
    height: 35px;
    border-radius: 20px;
    border: 0px;
}
.searchbtn{
    border: 0px;
    height: 23px;
    padding: 2px 4px;
    margin-left: 10px;
}
.profile{
    padding: 10px 0px 10px 10px;
}
.loginimg{
    width: 20px;
}
.cartimg{
    width: 20px;
}
/*---------------------------------------------------------------------------------------------- */
.workfake{
    display: flex;
    justify-content: center;
}
.work{
    background-color: #E9EDF1;
    height: 70px;
    width: 95%;
    margin: 6px 0;
}



/* --------------------------------------------------------------------------------------------- */
.latest{
    box-sizing: border-box;
    width: 95%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    /* background-color: rgb(172, 231, 231); */
}

.latestimg{
    width: 100%;
    height: 500px;
}


/* ------------------------------------------------section2--------------------------- */
.partation{
    height: 30px;
}
.section2{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bestof{
    /* padding: 20px 0; */
    margin-bottom: 30px;
}
.bestoftxt{
    font-size: 1.5rem;
    text-align: left;
    
}

.choicebox{
    display: flex;
    width: 800px;
    justify-content: space-between;
}
.choice{
    background-color: rgba(227, 227, 227, 0.895);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 900;    
    margin: auto 40px auto 0px;
    padding: 6px 15px;
    border-radius: 50px;
    height: 18px;
    width: fit-content;
}

.cardpart{
    display: flex;
}

.card{
    background-color: gainsboro;
    height: 410px;
    width: 280px;
    margin-top: 30px;
    margin: 30px 10px;
    border-radius: 10px;

}

.offtxt{
    background-color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 0.8rem;
    font:small-caps;
    border-radius: 0px 7px 7px 0px;
    margin-top: 10px;
    padding: 4px 3px;
    width: 45%;
    height: fit-content;
    text-align: left;
}


.cardimgbox{
    height: 200px;
}
.cardimg{
    width: 220px;
    height: 200px;
}

.cardtxtbox{
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 5px; */
    /* margin-bottom: 115px; */
    /* margin-bottom: auto; */
    border-radius: 5px;
    width: 260px;
    height: fit-content;
    background-color: white;
}
.cardtxtboxunder{
    margin:0 auto;
    padding-top: 13px;
    padding-bottom:13px;
    width: 90%;
    height: 90%;
}

.productbox{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5px; */
    margin-bottom: 6px;
}
.productname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
}
.productprice{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    margin-right: 5px;
}
.productoff{
    color: green;
    font-size: 0.9rem;
    padding-right: 10px;
}
.oldprice{
    color: gray;
    font-size: 0.6rem;
    font-weight: bolder;  
}

.ratingstar{
        font-size: 0.8rem;
        font-weight: bolder;  
}
.rateing{
    font-size: 0.8rem;
    font-weight: lighter; 
    margin-right: 5px;
}
.reviews{
    font-size: 0.8rem;
    font-weight: lighter; 
}

.addtocartbox{
    height: 36px;
    background-color: rgb(223, 153, 13);
    border-radius: 5px;
}

.addtocart{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding-top: 8px;

}









/* ----------------------------------------------------------------------------------------------- */
.category{
    box-sizing: border-box;
    /* background-color: rgba(25, 25, 25, 0.726); */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.categoryitem{
    /* width: 250px; */
    height: 100px;
    /* display: flex; */
    justify-content: center;

    min-width: 162px;
    width: auto;

    /* background-color: rgba(214, 214, 214, 0.934); */
    margin: 50px 50px;
    padding: 10px;
    /* margin-bottom: 9px; */
    /* border-right: 6px solid rgba(59, 58, 58, 0.329); */
    /* border-left: 1px solid rgba(65, 65, 65, 0.765); */
    /* border-radius: 40px; */
    /* justify-content: center; */
}
.item_img{
    width: 100px;
    height: 100px;
}
.product_name{
    /* color:white; */
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 0px 0px 0px;
    /* text-align: center; */
    /* justify-content: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer{
    /* background-color: rgb(194, 201, 207); */
    border-top: 1px solid gray;
    text-align: left;
    justify-content: center;
    padding: 0px 40px 40px;
}

.fo{
    display: flexbox;
    padding: 10px;

}

.input{
    justify-content: center;
    border: 0px;
    border-radius: 10px;
    width: 440px;
    height: 40px;
    background-color: #E9EDF1;
}

.two{
    width: 160px;

}

.fo1{
    background-color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fo2 .fo3 .fo4 .fo5{
    padding: 10px;
    text-align: center;
}

.link{
    padding: 5px;
    margin:  0 100px;
}
